<!DOCTYPE html>
<!--

%%README%%

-->
<html lang="en">
<head>
<title>Cavernal</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
<meta property="og:url" content="https://www.cavernal.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Cavernal">
<meta property="og:site_name" content="Cavernal">
<meta property="og:description" content="A proof-of-concept casual rogue-like videogame">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="http://cavernal.com/cardpic.png">
<meta property="og:image:secure_url" content="https://cavernal.com/cardpic.png">
<meta property="og:image:width" content="1154">
<meta property="og:image:height" content="606">
<meta property="og:image:type" content="image/png">
<meta property="og:image:alt" content="A screenshot of the videogame.">
<meta name="twitter:image:alt" content="A screenshot of the videogame.">
<meta name="twitter:card" content="summary_large_image">
%%FAVICON%%
<style>
%%CSSIMG%%
%%CSSFONT%%
%%CSS%%
</style>
</head>
<body>

<div class="all">
  <div class="left">
    <div class="upperbar">
    	<div class="character" id="character"></div>
    	<div class="info" id="info"></div>
    </div>
    <div class="actions" id="actions"></div>
    <div class="console" id="console">
      Loading! Hold on :)
    </div>
  </div><div class="right">
    <div class="inventory" id="inventory"></div>
  </div>
  <div class="version">
  Copyright &copy; 2021 <a href="https://www.luisquesada.com/">Luis Quesada Torres</a>
  &bull;
  Sponsored by the <a href="https://www.elezeta.com">Elezeta</a> music project
  (<a href="https://open.spotify.com/artist/3RPEdOJGGdk3kOnmVq3dgX">follow me!</a>)
  &bull;
  Cavernal
  %%VERSION%%
  (<a href="https://github.com/cavernal">source code</a>)
  <div class="restartline">&bull; Press <div class="buttonrestart" onclick="shiftKeyPress('F12');">[<u>SHIFT+12</u>]</div> to restart game</div>
  </div>
</div>

<script type="text/javascript">
%%JS%%
</script>
</body>
</html>
